@import './reset.scss';
@import './variables';

// common
.innerSize {
	width: calc(100% - 15px);
	max-width: $innerSize;
	margin: 0 auto;
}
img {
	width: 100%;
}

// component
.main {
	padding-top: 90px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 55px;
	.lnb {
		ul {
			display: flex;
			gap: 40px;
			a {
				font-size: 15px;
				font-weight: 400;
				color: $gunmetal;
			}
		}
	}
}

.contents {
	display: grid;
	grid-template-columns: 1fr 350px;
}

.subArea {
	grid-column: 1 / 3;
}